.svg-share-facebook {
	background: url(common.svg) 100% 31.914893617021278% no-repeat;
}

.svg-share-facebook-dims {
	width: 22px;
	height: 30px;
}

.svg-share-facebook-on {
	background: url(common.svg) 100% 0 no-repeat;
}

.svg-share-facebook-on-dims {
	width: 22px;
	height: 30px;
}

.svg-share-googleplus {
	background: url(common.svg) 0 41.666666666666664% no-repeat;
}

.svg-share-googleplus-dims {
	width: 38px;
	height: 28px;
}

.svg-share-googleplus-on {
	background: url(common.svg) 40.42553191489362% 41.666666666666664% no-repeat;
}

.svg-share-googleplus-on-dims {
	width: 38px;
	height: 28px;
}

.svg-share-instagram {
	background: url(common.svg) 28.155339805825243% 100% no-repeat;
}

.svg-share-instagram-dims {
	width: 29px;
	height: 29px;
}

.svg-share-instagram-on {
	background: url(common.svg) 0 100% no-repeat;
}

.svg-share-instagram-on-dims {
	width: 29px;
	height: 29px;
}

.svg-share-pinterest {
	background: url(common.svg) 78.84615384615384% 0 no-repeat;
}

.svg-share-pinterest-dims {
	width: 28px;
	height: 33px;
}

.svg-share-pinterest-on {
	background: url(common.svg) 78.84615384615384% 36.26373626373626% no-repeat;
}

.svg-share-pinterest-on-dims {
	width: 28px;
	height: 33px;
}

.svg-share-twitter {
	background: url(common.svg) 0 70.10309278350516% no-repeat;
}

.svg-share-twitter-dims {
	width: 31px;
	height: 27px;
}

.svg-share-twitter-on {
	background: url(common.svg) 30.693069306930692% 70.10309278350516% no-repeat;
}

.svg-share-twitter-on-dims {
	width: 31px;
	height: 27px;
}

.svg-twitter {
	background: url(common.svg) 45.05494505494506% 0 no-repeat;
}

.svg-twitter-dims {
	width: 41px;
	height: 40px;
}

.svg-twitter-on {
	background: url(common.svg) 0 0 no-repeat;
}

.svg-twitter-on-dims {
	width: 41px;
	height: 40px;
}

